
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.single-tour {
  padding: 1%;
  text-align: center;
  margin-bottom: 1%;
  //min-height: 400px;
  //max-height: 400px;
  word-break: break-all;
  word-break: break-word;

  h3, h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .col-md-12 {
    padding: 0%;
  }
  .tour-image-container {
    min-height: 150px;
    max-height: 150px;
    padding: 0;

    img {
      max-width: 100%;
      min-height: 150px;
      max-height: 150px;
    }
  }
  .product-link {
    margin-bottom: 4%;
  }
}



.navbar-brand > img {
  display: initial;
}

.top-text {
  font-size: larger;
  text-align: center;
  font-weight: bold;
  word-spacing: 5px;
}

.reviews-panel {

  .panel-heading {
    //padding: 0;
    text-align: center;
  }

  .panel-body {
    padding: 0;
  }

  .single-review {
    padding: 0;
    border-bottom: solid black 1px;
    margin-bottom: 9px;

    h6 {
      font-weight: bold;
      font-size: inherit;
    }

    p {
      height: 3em;
      overflow: hidden;
    }
  }
}

.container {
  width: 95% !important;
}

.nav > li {
  position: relative;
  display: block;
  margin-left: 5%;
}

.navbar-nav {
  width: 40%;
}

.navbar-nav.navbar-right {
  width: 20%;
}

.col-md-12.single-tour .tour-body * {
  margin-top: 0;
}

